@-webkit-keyframes arrow-down {
  0%,
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes arrow-down {
  0%,
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-300px * 2));
            transform: translateX(calc(-300px * 2));
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-300px * 2));
            transform: translateX(calc(-300px * 2));
  }
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  overflow-x: hidden;
  font-family: "Porto Sans";
  font-size: 1rem;
  line-height: 1.4;
  -ms-touch-action: pan-y !important;
      touch-action: pan-y !important;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-fe {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.grid {
  display: -ms-grid;
  display: grid;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (max-width: 74.9375em) and (min-width: 20em) {
  .hide-above-phone {
    display: none;
  }
}

@media (max-width: 63.9375em) and (min-width: 48em) {
  .show-tablet-hide-phone {
    display: block;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.scene,
canvas {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.subheader {
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 999;
  width: 100%;
  padding: 1rem 1.25rem;
  background-color: #ffffff;
  color: #080808;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 48em) {
  .subheader {
    padding: 1.25rem;
  }
}

@media (min-width: 64em) {
  .subheader {
    padding: 1.25rem 1.5rem;
  }
}

@media (min-width: 75em) {
  .subheader {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 0.75rem 5rem;
  }
}

.subheader__contacts {
  -ms-grid-column-align: start;
      justify-self: start;
}

.subheader__contacts .email,
.subheader__contacts .phone {
  cursor: pointer;
}

.subheader__contacts .email:hover i,
.subheader__contacts .email:hover p,
.subheader__contacts .phone:hover i,
.subheader__contacts .phone:hover p {
  color: #c94d24;
}

.subheader__contacts i {
  margin-right: 0.875rem;
  font-size: 0.9375rem;
}

.subheader__contacts i.fa-phone-volume {
  margin-left: 2.5rem;
}

.subheader__contacts p {
  font-size: 0.9375rem;
  margin: 0;
}

@media (min-width: 75em) {
  .subheader__socials {
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.subheader__socials a {
  font-size: 0.9375rem;
  color: #080808;
  margin-right: 1.25rem;
}

.subheader__socials a:last-child {
  margin: 0;
}

.subheader__socials a:hover {
  color: #c94d24;
}

.subheader__languages {
  -ms-grid-column-align: end;
      justify-self: end;
}

.subheader__languages p {
  margin: 0;
  font-size: 0.9375rem;
  cursor: pointer;
}

.subheader__languages p:first-child {
  padding-right: 0.875rem;
}

.subheader__languages p:last-child {
  padding-left: 0.875rem;
}

.subheader__languages p.selected {
  opacity: 0.69;
}

.subheader__languages p:not(.selected):hover {
  color: #c94d24;
}

.subheader__languages hr {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  background-color: #080808;
  border: none;
  width: 1px;
  height: 10px;
}

.navbar {
  position: absolute;
  top: 3.625rem;
  left: 0%;
  z-index: 999;
  width: 100%;
  padding: 1rem 1.25rem;
  background-color: transparent;
  font-family: "Porto Sans Stencil";
  -webkit-box-shadow: 0px 1px 10px 0 rgba(255, 255, 255, 0.05);
          box-shadow: 0px 1px 10px 0 rgba(255, 255, 255, 0.05);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 48em) {
  .navbar {
    top: 4.125rem;
  }
}

@media (min-width: 75em) {
  .navbar {
    padding: 1rem 5rem;
  }
}

.navbar__logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.navbar__logo img {
  width: 5.25rem;
}

@media (min-width: 64em) {
  .navbar__logo img {
    width: 9rem;
  }
}

.navbar__hamburger {
  height: 1.125rem;
  position: relative;
}

.navbar__hamburger__lines {
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  z-index: 999;
  right: 0%;
  border-radius: 4px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-transform-origin: -0.5px center;
          transform-origin: -0.5px center;
}

@media (max-width: 23.375em) {
  .navbar__hamburger__lines {
    height: 2px;
  }
}

.navbar__hamburger__lines.open {
  background-color: #080808;
  -webkit-transform-origin: -2.55px center;
          transform-origin: -2.55px center;
}

.navbar__hamburger__lines:nth-child(1).open {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar__hamburger__lines:nth-child(1), .navbar__hamburger__lines:nth-child(3) {
  width: 1.5rem;
}

.navbar__hamburger__lines:nth-child(1).open, .navbar__hamburger__lines:nth-child(3).open {
  height: 2px;
  width: 1.25rem;
}

@media (max-width: 23.375em) {
  .navbar__hamburger__lines:nth-child(1).open, .navbar__hamburger__lines:nth-child(3).open {
    height: 2px;
  }
}

.navbar__hamburger__lines:nth-child(2) {
  top: 50%;
  width: 1.75rem;
}

.navbar__hamburger__lines:nth-child(2).open {
  opacity: 0;
  -webkit-transform: translateX(15%);
          transform: translateX(15%);
}

.navbar__hamburger__lines:nth-child(3) {
  top: 100%;
}

.navbar__hamburger__lines:nth-child(3).open {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.navbar__mobile_overlay {
  position: fixed;
  z-index: -1;
  top: 0%;
  left: 0%;
  opacity: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar__mobile_overlay.overlay_opened {
  z-index: 1;
  opacity: 1;
}

.navbar__mobile_menu {
  -ms-grid-rows: min-content, 1fr, min-content;
      grid-template-rows: -webkit-min-content, 1fr, -webkit-min-content;
      grid-template-rows: min-content, 1fr, min-content;
  padding: 6.25rem 2rem 1.625rem;
  background-color: #ffffff;
  color: #080808;
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: -1;
  right: -100%;
  top: 0%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (max-width: 23.375em) {
  .navbar__mobile_menu {
    padding: 5.25rem 2rem 1.625rem;
  }
}

@media (min-width: 25.875em) {
  .navbar__mobile_menu {
    padding: 5.25rem 1rem 1.625rem;
  }
}

@media (min-width: 48em) {
  .navbar__mobile_menu {
    padding: 8.25rem 1rem 1.625rem;
  }
}

.navbar__mobile_menu.open__overlay {
  right: 0%;
}

.navbar__mobile_menu__info h1,
.navbar__mobile_menu__info p {
  text-align: center;
}

.navbar__mobile_menu__info h1 {
  text-transform: uppercase;
  color: #c94d24;
  margin-bottom: 0;
}

@media (max-width: 19.9375em) {
  .navbar__mobile_menu__info h1 {
    font-size: 1.375rem;
  }
}

@media (min-width: 48em) {
  .navbar__mobile_menu__info h1 {
    font-size: 1.625rem;
  }
}

.navbar__mobile_menu__info p {
  font-family: "Porto Sans";
  font-style: italic;
  font-size: 1.0625rem;
  margin: 1.25rem 0 1.875rem;
}

@media (max-width: 19.9375em) {
  .navbar__mobile_menu__info p {
    font-size: 1rem;
    margin: 1rem 0 1.5rem;
  }
}

@media (min-width: 25.875em) {
  .navbar__mobile_menu__info p {
    margin: 0.75rem 0 1.25rem;
  }
}

@media (min-width: 48em) {
  .navbar__mobile_menu__info p {
    font-size: 1.125rem;
  }
}

.navbar__mobile_menu__info hr {
  background-color: #c94d24;
  border: none;
  height: 2px;
  width: 3.75rem;
}

.navbar__mobile_menu__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
}

.navbar__mobile_menu__links a {
  text-align: left;
  color: #080808;
  margin-top: 1.875rem;
  font-size: 1.25rem;
  font-family: "Porto Sans";
  text-transform: uppercase;
}

@media (max-width: 23.375em) {
  .navbar__mobile_menu__links a {
    margin-top: 1.25rem;
    font-size: 1.0625rem;
  }
}

@media (max-width: 41.6875em) and (min-width: 23.4375em) and (max-height: 41.75em) {
  .navbar__mobile_menu__links a {
    margin-top: 1.875rem;
  }
}

@media (min-width: 48em) {
  .navbar__mobile_menu__links a {
    font-size: 1.25rem;
  }
}

.navbar__mobile_menu__socials {
  -ms-grid-columns: (1fr)[6];
      grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 48em) {
  .navbar__mobile_menu__socials {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
  }
}

.navbar__mobile_menu__socials a {
  font-size: 1.125rem;
  color: #080808;
}

@media (min-width: 48em) {
  .navbar__mobile_menu__socials a {
    font-size: 1.375rem;
  }
}

.navbar__mobile_menu__socials a:last-child {
  margin: 0;
}

.navbar__mobile_menu__policy p {
  text-align: center;
  font-size: 0.875rem;
  color: #999999;
  font-weight: lighter;
}

@media (max-width: 23.375em) {
  .navbar__mobile_menu__policy p {
    font-size: 0.875rem;
  }
}

@media (min-width: 48em) {
  .navbar__mobile_menu__policy p {
    font-size: 1rem;
  }
}

.navbar__desktop_menu__links a {
  position: relative;
  text-transform: uppercase;
  margin-right: 3.75rem;
  font-size: 1.25rem;
  color: #ffffff;
}

@media (min-width: 64em) {
  .navbar__desktop_menu__links a:last-child {
    margin-right: 0;
  }
}

@media (min-width: 64em) {
  .navbar__desktop_menu__links a {
    margin-right: 3.125rem;
    font-size: 1rem;
  }
}

.navbar__desktop_menu__links a::after {
  content: "";
  position: absolute;
  z-index: -1;
  left: -15%;
  bottom: -5%;
  background-color: #c94d24;
  width: 0;
  height: 120%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.navbar__desktop_menu__links a:hover::after {
  width: 64%;
}

@keyframes arrow-down {
  0%,
  100% {
    -webkit-transform: translateY(-2px);
            transform: translateY(-2px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-300px * 2));
            transform: translateX(calc(-300px * 2));
  }
}

.footer {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: calc(2.1875rem + 2vw) 8vw calc(6.1875rem + 2vw);
  color: #ffffff;
  background-color: #080808;
}

@media (min-width: 64em) {
  .footer {
    padding: calc(8.1875rem + 2vw) 8vw;
  }
}

@media (min-width: 75em) {
  .footer {
    padding: calc(6.1875rem + 2vw) 8vw;
  }
}

.footer .title {
  color: #c94d24;
  font-family: "Porto Serif";
  font-weight: 400;
  font-size: 1.25rem;
  margin: 0 0 2.5rem;
}

.footer__timezones {
  margin-bottom: 2.5rem;
}

.footer__timezones__worldwide {
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
}

.footer__timezones__worldwide h2 {
  font-weight: 400;
  font-size: 1.0625rem;
  margin: 0;
}

.footer__timezones__worldwide h2 sup {
  font-size: 0.875rem;
  margin-left: 5px;
}

.footer__timezones__worldwide h4 {
  font-weight: 400;
  margin-top: 5px;
  font-size: 1rem;
}

.footer__directions {
  margin-bottom: 2.5rem;
}

.footer__directions__info {
  font-size: 1.0625rem;
}

.footer__directions__info:first-child {
  margin: 0;
}

.footer__links {
  margin-bottom: 2.5rem;
}

.footer__links__info p:first-child {
  margin: 0 0 1rem;
}

.footer__links__info a {
  font-size: 1.0625rem;
  color: #ffffff;
  margin: 1rem 0;
}

.footer__socials {
  margin-bottom: 2.5rem;
}

.footer__socials div {
  -ms-grid-columns: 1.25rem 1fr;
      grid-template-columns: 1.25rem 1fr;
  margin: 1rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__socials__media i {
  font-size: 1.25rem;
}

.footer__socials__media p {
  font-size: 1.0625rem;
  margin: 0 0 0 30px;
}

.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

.landing {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: calc(12.1875rem + 2vw) 0 0 14vw;
}

@media (min-width: 64em) {
  .landing {
    padding: calc(20.1875rem + 2vw) 0 0 14vw;
  }
}

@media (min-width: 75em) {
  .landing {
    padding: calc(12.1875rem + 2vw) 0 0 14vw;
  }
}

@media (min-width: 120em) {
  .landing {
    padding: calc(14.1875rem + 2vw) 0 0 14vw;
  }
}

.landing h1 {
  letter-spacing: 1px;
  margin: 0;
  color: #c94d24;
  font-size: 2rem;
  font-family: "Porto Sans Stencil";
  text-transform: uppercase;
}

.landing h1 span {
  color: #ffffff;
}

@media (max-width: 23.375em) {
  .landing h1 {
    font-size: 1.75rem;
  }
}

@media (min-width: 64em) {
  .landing h1 {
    font-size: 3.75rem;
  }
}

@media (min-width: 75em) {
  .landing h1 {
    font-size: 2.875rem;
  }
}

@media (min-width: 120em) {
  .landing h1 {
    font-size: 3.75rem;
  }
}

.landing hr {
  background-color: #c94d24;
  width: 50px;
  height: 4px;
  border: none;
  margin: 1rem 0 2.875rem;
}

@media (max-width: 23.375em) {
  .landing hr {
    margin: 1rem 0 1.875rem;
  }
}

@media (min-width: 64em) {
  .landing hr {
    margin: 1rem 0 2.875rem;
  }
}

@media (min-width: 120em) {
  .landing hr {
    height: 6px;
  }
}

.landing h4 {
  margin: 0;
  color: #ffffff;
  font-size: 1.625rem;
  font-family: "Porto Sans";
  font-weight: 400;
}

.landing h4 span {
  color: #080808;
}

@media (max-width: 23.375em) {
  .landing h4 {
    font-size: 1.375rem;
  }
}

@media (min-width: 64em) {
  .landing h4 {
    font-size: 2.5rem;
  }
}

@media (min-width: 75em) {
  .landing h4 {
    font-size: 1.875rem;
  }
}

@media (min-width: 120em) {
  .landing h4 {
    font-size: 2.125rem;
    line-height: 1.6;
  }
}

.landing button {
  cursor: pointer;
  margin: 2.875rem 0;
  padding: 1rem 1.5rem;
  background-color: #c94d24;
  border: none;
  border-radius: 2px;
  color: #ffffff;
  font-size: 1.125rem;
  font-family: "Porto Sans Stencil";
}

@media (max-width: 23.375em) {
  .landing button {
    font-size: 1rem;
  }
}

@media (min-width: 64em) {
  .landing button {
    font-size: 1.5rem;
    padding: 1.5rem 1.75rem;
  }
}

@media (min-width: 75em) {
  .landing button {
    font-size: 1.75rem;
  }
}

@media (min-width: 75em) {
  .landing button {
    font-size: 1.125rem;
    padding: 1rem 1.75rem;
  }
}

.landing__down {
  width: 100%;
  background-color: #666666;
  position: absolute;
  bottom: 4%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

@media (min-width: 64em) {
  .landing__down {
    background-color: transparent;
  }
}

.landing__down__arrow {
  position: relative;
  width: 20px;
  height: 20px;
  margin-right: 1.625rem;
  -webkit-animation: arrow-down 2s ease-in-out infinite;
          animation: arrow-down 2s ease-in-out infinite;
}

.landing__down__arrow .line {
  position: absolute;
  width: 3px;
  height: 20px;
  background-color: #c94d24;
}

.landing__down__arrow .line:nth-child(1) {
  top: 0%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.landing__down__arrow .line:nth-child(2) {
  -webkit-transform-origin: 11px 3px;
          transform-origin: 11px 3px;
  height: 12px;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

.landing__down__arrow .line:nth-child(3) {
  -webkit-transform-origin: -8px 3px;
          transform-origin: -8px 3px;
  height: 12px;
  top: 50%;
  right: 0%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

.landing__down p {
  white-space: nowrap;
  font-size: 1.125rem;
  font-family: "Porto Sans Stencil";
  font-weight: 400;
  color: #ffffff;
}

@media (min-width: 64em) {
  .landing__down p {
    color: #ffffff;
  }
}

@media (min-width: 120em) {
  .landing__down p {
    font-size: 1.25rem;
    letter-spacing: 0.4px;
  }
}

.landing__carousel {
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.landing__carousel .carousel {
  position: relative;
  overflow: hidden;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.75rem 1rem;
}

.landing__carousel .carousel .slide-track {
  -webkit-animation: scroll 8s linear infinite;
          animation: scroll 8s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(300px * 4);
}

.landing__carousel .carousel .slide-track .slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 350px;
}

.landing__carousel .carousel .slide-track .slide p {
  white-space: nowrap;
  font-size: 1.125rem;
  font-family: "Porto Sans Stencil";
  font-weight: 400;
  color: #ffffff;
  margin: 0 2rem;
}

@media (min-width: 64em) {
  .landing__carousel .carousel .slide-track .slide p {
    color: #080808;
  }
}

.about {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: calc(6.1875rem + 2vw) 8vw;
}

@media (min-width: 64em) {
  .about {
    padding: calc(8.1875rem + 2vw) 8vw;
  }
}

@media (min-width: 75em) {
  .about {
    padding: calc(6.1875rem + 2vw) 8vw;
  }
}

@media (min-width: 120em) {
  .about {
    padding: calc(10.1875rem + 2vw) 8vw;
  }
}

.about__title {
  font-size: 1.75rem;
  font-family: "Porto Serif";
  font-weight: 400;
  letter-spacing: 1px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  text-align: left;
}

.about__title div {
  margin-right: auto;
}

.about__title span {
  color: #c94d24;
}

@media (min-width: 48em) {
  .about__title {
    font-size: 3.125rem;
  }
}

@media (min-width: 64em) {
  .about__title {
    font-size: 3.75rem;
  }
}

@media (min-width: 75em) {
  .about__title {
    font-size: 3.375rem;
    line-height: 1.5;
  }
}

.news {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: calc(2.1875rem + 2vw) 8vw calc(6.1875rem + 2vw);
  background-color: #080808;
  color: #ffffff;
}

@media (min-width: 64em) {
  .news {
    padding: calc(8.1875rem + 2vw) 8vw;
  }
}

@media (min-width: 75em) {
  .news {
    padding: calc(6.1875rem + 2vw) 8vw;
  }
}

.news__title {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 75em) {
  .news__title {
    font-size: 2.5rem;
  }
}

.news__cards {
  row-gap: 3.75rem;
}

@media (min-width: 64em) {
  .news__cards {
    padding: 0 0 0 4vw;
  }
}

.news__cards__card {
  border-top: 1px solid #ffffff;
  padding-top: 1.625rem;
}

.news__cards__card:first-child {
  margin-top: 2.5rem;
}

@media (min-width: 75em) {
  .news__cards__card:first-child {
    margin-top: 6.875rem;
  }
}

@media (min-width: 48em) {
  .news__cards__card {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -webkit-column-gap: 1.5rem;
            column-gap: 1.5rem;
  }
}

@media (min-width: 64em) {
  .news__cards__card {
    width: 84%;
    padding-bottom: 3.125rem;
  }
}

@media (min-width: 120em) {
  .news__cards__card {
    -webkit-column-gap: 0;
            column-gap: 0;
  }
}

.news__cards__card img {
  height: 12.375rem;
  width: 100%;
}

@media (max-width: 23.375em) {
  .news__cards__card img {
    height: 10.375rem;
    width: 100%;
  }
}

@media (min-width: 48em) {
  .news__cards__card img {
    height: 10.375rem;
  }
}

@media (min-width: 75em) {
  .news__cards__card img {
    height: 19.625rem;
    width: 32.75rem;
  }
}

@media (min-width: 120em) {
  .news__cards__card img {
    height: 21.625rem;
    width: 94%;
  }
}

.news__cards__card h2 {
  margin: 1rem 0 0 0;
  position: relative;
  font-family: "Porto Sans Stencil";
  font-size: 1.0625rem;
  line-height: 1.5;
  letter-spacing: 0.4px;
  font-weight: 400;
}

@media (min-width: 48em) {
  .news__cards__card h2 {
    margin: 0;
  }
}

@media (min-width: 75em) {
  .news__cards__card h2 {
    font-size: 1.625rem;
  }
}

@media (min-width: 120em) {
  .news__cards__card h2 {
    font-size: 1.75rem;
  }
}

.news__cards__card p {
  margin: 1rem 0 0 0;
  font-family: "Porto Sans";
  font-size: 1rem;
  line-height: 1.5;
}

@media (min-width: 48em) {
  .news__cards__card p {
    margin: 0;
  }
}

@media (min-width: 75em) {
  .news__cards__card p {
    font-size: 1.25rem;
    margin: auto 0 0 0;
    line-height: 1.7;
  }
}

@media (min-width: 120em) {
  .news__cards__card p {
    font-size: 1.375rem;
  }
}

.news__cards__card p.date {
  font-size: 0.9375rem;
  font-style: italic;
  color: #999999;
  margin: 2rem 0 0 0;
}

@media (min-width: 75em) {
  .news__cards__card p.date {
    font-size: 1rem;
  }
}

@media (min-width: 120em) {
  .news__cards__card p.date {
    font-size: 1.125rem;
  }
}

.news__cards__card a {
  position: relative;
  color: #c94d24;
  margin: 2rem 0 0 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

@media (min-width: 75em) {
  .news__cards__card a {
    font-size: 1rem;
  }
}

.news__cards__card a::before {
  content: "";
  position: absolute;
  bottom: calc(50% - 1px);
  left: -30px;
  background-color: #c94d24;
  height: 2px;
  width: 16px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.news__cards__card a:hover::before {
  left: -32px;
}

.news__cards__card a:hover {
  letter-spacing: 0.4px;
}

.news button {
  background-color: transparent;
  border: 1px solid #ffffff;
  font-size: 0.9375rem;
  color: #ffffff;
  padding: 0.85rem 3rem;
  border-radius: 2px;
  font-weight: lighter;
  cursor: pointer;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

@media (min-width: 75em) {
  .news button {
    font-size: 1rem;
    margin-top: 2rem;
  }
}

.news button:hover {
  border: 1px solid #080808;
  color: #080808;
  background-color: #ffffff;
}

.testimonials {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: calc(2.1875rem + 2vw) 8vw calc(6.1875rem + 2vw);
  color: #080808;
}

@media (min-width: 64em) {
  .testimonials {
    padding: calc(8.1875rem + 2vw) 8vw;
  }
}

@media (min-width: 75em) {
  .testimonials {
    padding: calc(6.1875rem + 2vw) 8vw;
  }
}

.testimonials__title {
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

@media (min-width: 75em) {
  .testimonials__title {
    font-size: 2.5rem;
  }
}

.testimonials__cards {
  row-gap: 3.75rem;
}

@media (min-width: 64em) {
  .testimonials__cards {
    padding: 0 6vw;
  }
}

@media (min-width: 120em) {
  .testimonials__cards {
    padding: 0 10vw;
  }
}

.testimonials__cards__card {
  position: relative;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  border-top: 3px solid #c94d24;
  padding: calc(calc(4.325rem / 2) + calc(3.125rem / 8)) 1.25rem 3.125rem;
  margin: 30px 5px 15px;
}

.testimonials__cards__card:first-child {
  margin-top: calc(40px + 2.325rem);
}

@media (min-width: 75em) {
  .testimonials__cards__card:first-child {
    margin-top: 6.875rem;
  }
}

@media (min-width: 75em) {
  .testimonials__cards__card {
    -webkit-box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 2px 14px 0px rgba(0, 0, 0, 0.1);
  }
}

.testimonials__cards__card img {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: calc(4.325rem / -2);
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 4.325rem;
  -webkit-box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2);
}

.testimonials__cards__card h3,
.testimonials__cards__card h4 {
  text-align: center;
  font-size: 1.0625rem;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.testimonials__cards__card h3 {
  font-family: "Porto Serif";
  margin: 1.25rem 0 0.5rem;
}

.testimonials__cards__card h4 {
  margin: 0 0 1.875rem 0;
  font-family: "Porto Sans";
  font-style: italic;
  color: #999999;
}

.testimonials__cards__card__text {
  max-height: 8.75rem;
  overflow-y: auto;
}

.testimonials__cards__card p {
  letter-spacing: 0.4px;
  margin: 0;
}

.testimonials__cards .glide__track + div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.testimonials__cards .glide__track + div button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ffffff;
  border: none;
  -webkit-box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.05), -1px -1px 10px 0px rgba(0, 0, 0, 0.05);
          box-shadow: 2px 2px 12px 0px rgba(0, 0, 0, 0.05), -1px -1px 10px 0px rgba(0, 0, 0, 0.05);
  margin: 0 10px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.testimonials__cards .glide__track + div button:focus {
  outline: none;
}

.testimonials__cards .glide__track + div button:hover {
  -webkit-box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.08), -2px -2px 10px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 4px 4px 12px 0px rgba(0, 0, 0, 0.08), -2px -2px 10px 0px rgba(0, 0, 0, 0.08);
}

.testimonials__cards .glide__track + div button:hover .left__arrow,
.testimonials__cards .glide__track + div button:hover .right__arrow {
  fill: #c94d24;
}

.testimonials__cards .glide__track + div button .left__arrow,
.testimonials__cards .glide__track + div button .right__arrow {
  width: 20px;
}

@media (min-width: 64em) {
  .testimonials__cards .glide__track + div button .left__arrow,
  .testimonials__cards .glide__track + div button .right__arrow {
    margin-top: 5px;
  }
}

@media (min-width: 48em) {
  .testimonials__cards .glide__track + div button {
    margin: 1.875rem 1.25rem;
  }
}

@media (min-width: 64em) {
  .testimonials__cards .glide__track + div button {
    margin: 1.875rem 10px;
  }
}
/*# sourceMappingURL=style.css.map */