@keyframes arrow-down {
  0%,
  100% {
    transform: translateY(-2px);
  }

  50% {
    transform: translateY(0px);
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 2));
  }
}
