.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

.landing {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: calc(12.1875rem + 2vw) 0 0 14vw;

  @include breakpoint-up(iPadPro) {
    padding: calc(20.1875rem + 2vw) 0 0 14vw;
  }

  @include breakpoint-up(desktop) {
    padding: calc(12.1875rem + 2vw) 0 0 14vw;
  }

  @include breakpoint-up(large) {
    padding: calc(14.1875rem + 2vw) 0 0 14vw;
  }

  h1 {
    letter-spacing: 1px;
    margin: 0;
    color: $orange;
    font-size: $_32px;
    font-family: "Porto Sans Stencil";
    text-transform: uppercase;

    span {
      color: $white;
    }

    @include breakpoint-down(phone) {
      font-size: $_28px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_60px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_46px;
    }

    @include breakpoint-up(large) {
      font-size: $_60px;
    }
  }

  hr {
    background-color: $orange;
    width: 50px;
    height: 4px;
    border: none;
    margin: 1rem 0 2.875rem;

    @include breakpoint-down(phone) {
      margin: 1rem 0 1.875rem;
    }

    @include breakpoint-up(iPadPro) {
      margin: 1rem 0 2.875rem;
    }

    @include breakpoint-up(large) {
      height: 6px;
    }
  }

  h4 {
    // text-align: center;
    margin: 0;
    color: $white;
    font-size: $_26px;
    font-family: $portoSans;
    font-weight: 400;

    span {
      color: $black;
    }

    @include breakpoint-down(phone) {
      font-size: $_22px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_40px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_30px;
    }

    @include breakpoint-up(large) {
      font-size: $_34px;
      line-height: 1.6;
    }
  }

  button {
    cursor: pointer;
    margin: 2.875rem 0;
    padding: 1rem 1.5rem;
    background-color: $orange;
    border: none;
    border-radius: 2px;
    color: $white;
    font-size: $_18px;
    font-family: $portoSansStencil;

    @include breakpoint-down(phone) {
      font-size: $_16px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_24px;
      padding: 1.5rem 1.75rem;
    }

    @include breakpoint-up(desktop) {
      font-size: $_28px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_18px;
      padding: 1rem 1.75rem;
    }
  }

  &__down {
    width: 100%;
    background-color: $lightGrey;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint-up(iPadPro) {
      background-color: transparent;
    }

    &__arrow {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 1.625rem;
      animation: arrow-down 2s ease-in-out infinite;

      .line {
        position: absolute;
        width: 3px;
        height: 20px;
        background-color: $orange;

        &:nth-child(1) {
          top: 0%;
          left: 50%;
          transform: translateX(-50%);
        }

        &:nth-child(2) {
          transform-origin: 11px 3px;
          height: 12px;
          top: 50%;
          left: 0%;
          transform: translateY(-50%) rotate(-45deg);
        }

        &:nth-child(3) {
          transform-origin: -8px 3px;
          height: 12px;
          top: 50%;
          right: 0%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    p {
      white-space: nowrap;
      font-size: $_18px;
      font-family: $portoSansStencil;
      font-weight: 400;
      color: $white;

      @include breakpoint-up(iPadPro) {
        color: $white;
      }

      @include breakpoint-up(large) {
        font-size: $_20px;
        letter-spacing: 0.4px;
      }
    }
  }

  &__carousel {
    position: absolute;
    bottom: 0%;
    left: 0%;

    .carousel {
      position: relative;
      overflow: hidden;
      width: fit-content;
      height: fit-content;
      padding: 0.75rem 1rem;

      .slide-track {
        animation: scroll 8s linear infinite;
        display: flex;
        width: calc(300px * 4);

        .slide {
          display: flex;
          justify-content: center;
          align-items: center;
          height: fit-content;
          width: 350px;

          p {
            white-space: nowrap;
            font-size: $_18px;
            font-family: $portoSansStencil;
            font-weight: 400;
            color: $white;
            margin: 0 2rem;

            @include breakpoint-up(iPadPro) {
              color: $black;
            }
          }
        }
      }
    }
  }
}

.about {
  position: relative;
  z-index: 1;
  width: 100%;
  // height: 100vh;
  padding: calc(6.1875rem + 2vw) 8vw;

  @include breakpoint-up(iPadPro) {
    padding: calc(8.1875rem + 2vw) 8vw;
  }

  @include breakpoint-up(desktop) {
    padding: calc(6.1875rem + 2vw) 8vw;
  }

  @include breakpoint-up(large) {
    padding: calc(10.1875rem + 2vw) 8vw;
  }

  &__title {
    font-size: $_28px;
    font-family: $portoSerif;
    font-weight: 400;
    letter-spacing: 1px;
    width: fit-content;
    margin: auto;
    text-align: left;

    div {
      margin-right: auto;
    }

    span {
      color: $orange;
    }

    @include breakpoint-up(tablet) {
      font-size: $_50px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_60px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_54px;
      line-height: 1.5;
    }
  }
}

.news {
  position: relative;
  z-index: 1;
  width: 100%;
  // height: 100vh;
  padding: calc(2.1875rem + 2vw) 8vw calc(6.1875rem + 2vw);
  background-color: $black;
  color: $white;

  @include breakpoint-up(iPadPro) {
    padding: calc(8.1875rem + 2vw) 8vw;
  }

  @include breakpoint-up(desktop) {
    padding: calc(6.1875rem + 2vw) 8vw;
  }

  &__title {
    font-size: $_20px;
    font-weight: 400;

    @include breakpoint-up(desktop) {
      font-size: $_40px;
    }
  }

  &__cards {
    row-gap: $_60px;

    @include breakpoint-up(iPadPro) {
      padding: 0 0 0 4vw;
    }

    @include breakpoint-up(desktop) {
      padding: 0 0 0 8vw;
    }

    &__card {
      &:first-child {
        margin-top: $_40px;

        @include breakpoint-up(desktop) {
          margin-top: $_110px;
        }
      }

      border-top: 1px solid $white;
      padding-top: $_26px;

      @include breakpoint-up(tablet) {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1.5rem;
      }

      @include breakpoint-up(iPadPro) {
        width: 84%;
        padding-bottom: $_50px;
      }

      @include breakpoint-up(large) {
        column-gap: 0;
      }

      img {
        height: 12.375rem;
        width: 100%;

        @include breakpoint-down(phone) {
          height: 10.375rem;
          width: 100%;
        }

        @include breakpoint-up(tablet) {
          height: 10.375rem;
        }

        @include breakpoint-up(desktop) {
          height: 19.625rem;
          width: 32.75rem;
        }

        @include breakpoint-up(large) {
          height: 21.625rem;
          width: 94%;
        }
      }

      h2 {
        margin: 1rem 0 0 0;
        position: relative;
        // text-decoration: underline;
        font-family: $portoSansStencil;
        font-size: $_17px;
        line-height: 1.5;
        letter-spacing: 0.4px;
        font-weight: 400;

        @include breakpoint-up(tablet) {
          margin: 0;
        }

        @include breakpoint-up(desktop) {
          font-size: $_26px;
        }

        @include breakpoint-up(large) {
          font-size: $_28px;
        }
      }

      p {
        margin: 1rem 0 0 0;
        font-family: $portoSans;
        font-size: $_16px;
        line-height: 1.5;

        @include breakpoint-up(tablet) {
          margin: 0;
        }

        @include breakpoint-up(desktop) {
          font-size: $_20px;
          margin: auto 0 0 0;
          line-height: 1.7;
        }

        @include breakpoint-up(large) {
          font-size: $_22px;
        }

        &.date {
          font-size: $_15px;
          font-style: italic;
          color: $grey;
          margin: 2rem 0 0 0;

          @include breakpoint-up(desktop) {
            font-size: $_16px;
          }

          @include breakpoint-up(large) {
            font-size: $_18px;
          }
        }
      }

      a {
        position: relative;
        color: $orange;
        margin: 2rem 0 0 0;
        transition: all 0.5s ease;

        @include breakpoint-up(desktop) {
          font-size: $_16px;
        }

        &::before {
          content: "";
          position: absolute;
          bottom: calc(50% - 1px);
          left: -30px;
          background-color: $orange;
          height: 2px;
          width: 16px;
          transition: all 0.5s ease;
        }

        &:hover::before {
          left: -32px;
        }

        &:hover {
          letter-spacing: 0.4px;
        }
      }
    }
  }

  button {
    background-color: transparent;
    border: 1px solid $white;
    font-size: $_15px;
    color: $white;
    padding: 0.85rem 3rem;
    border-radius: 2px;
    font-weight: lighter;
    cursor: pointer;
    transition: all 0.1s ease;

    @include breakpoint-up(desktop) {
      font-size: $_16px;
      margin-top: 2rem;
    }

    &:hover {
      border: 1px solid $black;
      color: $black;
      background-color: $white;
    }
  }
}

.testimonials {
  position: relative;
  z-index: 1;
  width: 100%;
  // height: 100vh;
  padding: calc(2.1875rem + 2vw) 8vw calc(6.1875rem + 2vw);
  color: $black;

  @include breakpoint-up(iPadPro) {
    padding: calc(8.1875rem + 2vw) 8vw;
  }

  @include breakpoint-up(desktop) {
    padding: calc(6.1875rem + 2vw) 8vw;
  }

  &__title {
    font-size: $_20px;
    font-weight: 400;

    @include breakpoint-up(desktop) {
      font-size: $_40px;
    }
  }

  &__cards {
    row-gap: $_60px;

    @include breakpoint-up(iPadPro) {
      padding: 0 0 0 4vw;
    }

    @include breakpoint-up(desktop) {
      padding: 0 0 0 8vw;
    }

    &__card {
      &:first-child {
        margin-top: calc(40px + 2.325rem);

        @include breakpoint-up(desktop) {
          margin-top: $_110px;
        }
      }

      position: relative;
      box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
      border-radius: 8px;
      border-top: 3px solid $orange;
      padding-top: $_26px;
      padding: calc(calc(4.325rem / 2) + calc(3.125rem / 8)) 1.25rem 3.125rem;

      img {
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: calc(4.325rem / -2);
        transform: translateX(-50%);
        width: 4.325rem;
        box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.2);
      }

      h3,
      h4 {
        text-align: center;
        font-size: $_17px;
        font-weight: 400;
        letter-spacing: 0.2px;
      }

      h3 {
        font-family: $portoSerif;
        margin: 1.25rem 0 0.5rem;
      }

      h4 {
        margin: 0 0 1.875rem 0;
        font-family: $portoSans;
        font-style: italic;
        color: $grey;
      }

      &__text {
        max-height: 8.75rem;
        overflow-y: scroll;
      }

      p {
        letter-spacing: 0.4px;
        margin: 0;
      }
    }
  }
}
