.overlay {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0);
}

.landing {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: 10vw 0 0 14vw;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  h1 {
    // text-align: center;
    letter-spacing: 1px;
    span {
      color: #000000;
      font-weight: 400;
    }
    margin: 0;
    color: #c94d24;
    font-size: 70px;
    font-family: "Porto Sans Stencil";
  }

  hr {
    background-color: #c94d24;
    width: 50px;
    height: 8px;
    border: none;
    margin: 2rem 0 4rem;
  }

  h4 {
    // text-align: center;
    span {
      color: #000000;
    }
    margin: 0;
    color: #000000;
    font-size: 40px;
    font-family: "Porto Sans Stencil";
    font-weight: 400;
  }

  button {
    cursor: pointer;
    margin: 4rem 0;
    background-color: #c94d24;
    color: #ffffff;
    font-size: 1.2rem;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 2px;
  }

  p {
    position: absolute;
    bottom: 20%;
    left: 45%;
    transform: translateX(-50%);
    font-size: 20px;
    font-family: "Porto Sans Stencil";
    font-weight: 400;
  }
}
