.projects_catalog {
  position: relative;
  z-index: 1;
  width: 100%;
  padding: calc(10.1875rem + 2vw) 0;

  h3,
  h1,
  p {
    font-weight: 400;
  }

  h3 {
    font-size: $_18px;

    span {
      margin: 0 0.625rem;
      font-size: 0.6875rem;
      vertical-align: middle;
    }
  }

  h1 {
    font-family: $portoSansStencil;
    font-size: $_32px;
  }

  p {
    color: $lightGrey;
  }

  &__filters {
    margin-top: 40px;
    justify-items: center;
    row-gap: 2rem;

    input {
      padding: 0.75rem 1rem;
    }

    h2 {
      position: relative;
      width: fit-content;
      margin: 0;
      font-size: $_18px;
      font-weight: 400;
    }

    &__sorting {
      //   margin-bottom: 1.1rem !important;

      &::after {
        content: "+ +";
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__institutions {
      &::before {
        content: "";
        position: absolute;
        bottom: -40%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid $black;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -70%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $black;
      }
    }
  }
}
