.subheader {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 999;
  width: 100%;
  padding: 1rem 1.25rem;
  background-color: $white;
  color: $black;
  grid-template-columns: repeat(2, 1fr);

  @include breakpoint-up(tablet) {
    padding: 1.25rem;
  }

  @include breakpoint-up(iPadPro) {
    padding: 1.25rem 1.5rem;
  }

  @include breakpoint-up(desktop) {
    grid-template-columns: repeat(3, 1fr);
    padding: 1.25rem 3.125rem;
  }

  &__contacts {
    justify-self: start;

    i {
      margin-right: $_14px;
      font-size: $_15px;

      &.fa-phone-volume {
        margin-left: $_40px;
      }
    }

    p {
      margin: 0;
    }
  }

  &__socials {
    @include breakpoint-up(desktop) {
      justify-self: center;
    }

    a {
      color: $black;
      margin-right: $_20px;

      &:last-child {
        margin: 0;
      }
    }
  }

  &__languages {
    justify-self: end;

    p {
      margin: 0;
      font-size: $_15px;

      &:first-child {
        padding-right: $_14px;
      }

      &:last-child {
        padding-left: $_14px;
      }

      &.selected {
        opacity: 0.69;
      }
    }

    hr {
      transform: rotate(180deg);
      background-color: $black;
      border: none;
      width: 1px;
      height: 10px;
    }
  }
}
