.admin_careers__panel {
  width: 100%;

  &__overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: 998;
    height: 100vh;
    width: 100vw;
    background-color: rgba($color: $black, $alpha: 0.5);
    opacity: 0;
    visibility: hidden;

    transition: all 0.4s;

    &.show_overlay {
      opacity: 1;
      visibility: visible;
    }
  }

  &__grid {
    padding: 0 3rem 0 3rem;

    max-height: 60vh;
    overflow-y: auto;

    row-gap: 2.25rem;

    @include breakpoint-up(large) {
      max-height: 70vh;
    }
  }
  ::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-color: rgba($color: $black, $alpha: 0.1);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba($color: $black, $alpha: 0.1);
  }
}
