.st0 {
  fill: none;
  stroke: #d3d3d3;
  stroke-miterlimit: 10;
  stroke-dasharray: 12.2456, 12.2456;
}
.st1 {
  fill: #f7f7f76b !important;
}
.st2 {
  fill: #f2f2f2;
}
.st3 {
  fill: #2a94f4;
}
.st4 {
  fill: #cce9ff;
}
.st5 {
  fill: #ffffff;
}
.st6 {
  fill: none;
  stroke: #cce9ff;
  stroke-miterlimit: 10;
}
.st7 {
  clip-path: url(#SVGID_2_);
}
.st8 {
  fill: #0b4870;
}
.st9 {
  fill: #fcd2b1;
}
.st10 {
  fill: #ffe3ca !important;
}
.st11 {
  fill: #ffbe55;
}
.st12 {
  fill: #0d4972;
}
.st13 {
  fill: #0e538c;
}
.st14 {
  fill: #1a87d8;
}
.st15 {
  fill: #b0e1ff;
}
