.areas {
  width: 100%;

  &__grid {
    // row-gap: 2rem;

    @include breakpoint-down(phone) {
      row-gap: 0;
    }

    @include breakpoint-up(tablet) {
      padding: 0 8vw;
    }

    @include breakpoint-up(desktop) {
      padding: 0 11vw;
      grid-template-columns: 1fr;
      // column-gap: 16rem;
    }

    @include breakpoint-up(large) {
      margin-top: 6rem;
    }
  }
}
