.media {
  width: 100%;
  padding: 0 2rem;
  overflow: hidden;

  @include breakpoint-up(tablet) {
    padding: 0;
  }

  &__grid {
    row-gap: 2rem;
    margin-bottom: 2rem;

    @include breakpoint-down(phone) {
      row-gap: 3rem;
    }

    @include breakpoint-up(tablet) {
      padding: 0 8vw;
      grid-template-columns: 1fr 1fr;
      column-gap: 4rem;
      row-gap: 4rem;
    }

    @include breakpoint-up(iPadPro) {
      margin-bottom: 4rem;
    }

    @include breakpoint-up(desktop) {
      padding: 0 11vw;
      column-gap: 7.375rem;
      row-gap: 5.6875rem;
    }

    @include breakpoint-up(large) {
      padding: 0 10vw;
    }
  }
}
