.projects_catalog {
  width: 100%;
  // padding: calc(10.1875rem + 2vw) 0.5rem 0;

  // @include breakpoint-up(desktop) {
  //   padding: calc(10.1875rem + 2vw) 3rem 0;
  // }

  h3,
  h1,
  p {
    font-weight: 400;
  }

  h3 {
    font-size: $_18px;

    span {
      margin: 0 0.625rem;
      font-size: 0.6875rem;
      vertical-align: middle;

      @include breakpoint-up(iPadPro) {
        font-size: 0.8rem;
        vertical-align: middle;
      }
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_22px;
      margin: 1rem 0;
    }
  }

  &__title {
    font-family: $portoSansStencil;
    font-size: $_32px;
    margin: 1rem 0;

    @include breakpoint-down(phone) {
      margin: 1rem 0;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_50px;
      margin: 0.8rem 0;
    }

    @include breakpoint-up(large) {
      font-size: $_60px;
    }
  }

  &__quote {
    color: $lightGrey;

    @include breakpoint-up(iPadPro) {
      font-size: $_18px;
      letter-spacing: 0.3px;
    }

    @include breakpoint-up(large) {
      font-size: $_20px;
    }
  }

  &__filters {
    margin-top: 40px;
    justify-items: center;
    row-gap: 3rem;

    @include breakpoint-up(iPadPro) {
      grid-template-columns: repeat(3, 1fr);
      margin: 6rem 0 3rem;
    }

    input {
      padding: 0.75rem 1rem;
      border-radius: 2px;
      border: 1.5px solid $black;

      &:active {
        border: 1.5px solid $orange;
      }

      &:focus {
        outline: none;
        border: 1.5px solid $orange;
      }

      @include breakpoint-up(iPadPro) {
        border: 1.5px solid $black;
        padding: 0.75rem 1rem;
        justify-self: end;
        height: fit-content;
        font-size: $_18px;
      }
    }

    ::placeholder {
      font-size: $_14px;
      letter-spacing: 0.3px;
      font-family: $portoSans;

      @include breakpoint-up(large) {
        font-size: $_16px;
      }
    }

    button {
      position: relative;
      width: fit-content;
      background-color: transparent;
      border: none;
      margin: 0;
      font-size: $_17px;
      font-weight: 400;
      cursor: pointer;
      transition: all 0.4s ease;

      &:focus {
        outline: none !important;
      }

      &:hover {
        letter-spacing: 0.5px;
      }

      &:not(.projects_catalog__filters__sorting):hover::after {
        border-top: 4px solid $orange;
      }

      &:not(.projects_catalog__filters__sorting):hover::before {
        border-bottom: 4px solid $orange;
      }

      &:hover::after,
      &:hover::before {
        color: $orange;
      }
    }

    &__sorting {
      margin-bottom: 4rem !important;

      &::after {
        content: "+ +";
        position: absolute;
        bottom: -100%;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &__institutions {
      margin-bottom: 4rem !important;

      &::before {
        content: "";
        position: absolute;
        bottom: -40%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid $black;
      }

      &::after {
        content: "";
        position: absolute;
        bottom: -70%;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid $black;
      }

      @include breakpoint-up(iPadPro) {
        justify-self: flex-start;
      }
    }

    &__categories {
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.05),
        -2px -2px 10px rgba(0, 0, 0, 0.05);
      padding: 1rem 0;
      margin-top: 1.5rem;
      width: 100%;
      display: none;

      & div {
        width: 100%;
        justify-items: center;
        grid-template-columns: repeat(4, 1fr);

        @include breakpoint-up(iPadPro) {
          grid-template-columns: repeat(6, 1fr);
        }
      }

      @include breakpoint-up(iPadPro) {
        font-size: $_18px;
      }

      &.opened {
        margin: 0;
        display: block;
        margin-bottom: 4rem;

        @include breakpoint-up(iPadPro) {
          margin-bottom: 6rem;
        }
      }
    }
  }
}
