.projects {
  &__grid {
    width: 100%;
    // padding: 0 0.5rem;
    grid-template-columns: 1fr 1fr;
    // row-gap: 1.4rem;
    // column-gap: 1.4rem;

    @include breakpoint-down(phone) {
      // column-gap: 1rem;
      // row-gap: 1rem;
    }

    @include breakpoint-up(tablet) {
      // padding: 0 4vw !important;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 0;
      column-gap: 0;
      padding: 0;
    }

    @include breakpoint-up(iPadPro) {
      grid-template-columns: repeat(4, 1fr);
    }

    @include breakpoint-up(desktop) {
      padding: 0 3rem;
      grid-template-columns: repeat(5, 1fr);
    }

    @include breakpoint-up(large) {
      padding: 0 3rem;
      grid-template-columns: repeat(5, 1fr);
    }
  }
}
