.principles,
.unities {
  padding: 0 2rem calc(6.1875rem + 2vw);

  @include breakpoint-down(phone) {
    padding: 0 8vw 1rem;
  }

  @include breakpoint-up(tablet) {
    padding: 0 8vw calc(6.1875rem + 2vw);
  }

  @include breakpoint-up(desktop) {
    padding: 0 11vw calc(4.1875rem + 2vw);
  }

  @include breakpoint-up(large) {
    margin-top: calc(2.1875rem + 2vw);
    padding: 0 10vw calc(6.1875rem + 2vw);
  }
}

.principles {
  margin-top: calc(4.1875rem + 2vw);
  color: $white;

  background-color: $black;

  ul {
    margin: 0;
  }

  button {
    background-color: transparent !important;
    // border: 1.5px solid $white !important;
    box-shadow: 2px 2px 12px 0px rgba($color: $white, $alpha: 0.025),
      -1px -1px 10px 0px rgba($color: $white, $alpha: 0.025) !important;

    svg {
      fill: $white;
    }
  }
}

.unities {
  &__grid {
    row-gap: 4rem;

    @include breakpoint-up(desktop) {
      row-gap: 8rem;
    }
  }
}
