.principles,
.unities {
  padding: 0 2rem calc(6.1875rem + 2vw);

  @include breakpoint-down(phone) {
    padding: 0 8vw 1rem;
  }

  @include breakpoint-up(tablet) {
    padding: 0 8vw calc(6.1875rem + 2vw);
  }

  @include breakpoint-up(desktop) {
    padding: 0 11vw calc(4.1875rem + 2vw);
  }

  @include breakpoint-up(large) {
    margin-top: calc(2.1875rem + 2vw);
    padding: 0 10vw calc(6.1875rem + 2vw);
  }
}

.principles {
  margin-top: 0;
  color: $white;

  background-color: $black;

  ul {
    margin: 0;
  }

  button {
    box-shadow: 2px 4px 10px rgba($color: $black, $alpha: 0.05),
      -2px -4px 10px rgba($color: $black, $alpha: 0.05);
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1.5px solid transparent;
    border-radius: 50%;

    transition: all 0.25s ease;

    margin-right: 30px;

    @include breakpoint-up(iPadPro) {
      margin-top: 2rem;
    }

    svg {
      width: 20px;
      height: 20px;
      fill: $white;

      @include breakpoint-up(iPadPro) {
        margin-bottom: 1px;
      }
    }
  }
}

.unities {
  &__grid {
    row-gap: 4rem;

    @include breakpoint-up(desktop) {
      row-gap: 8rem;
    }
  }

  &_title {
    position: relative;
    width: fit-content;
    padding-bottom: 0.6rem;
    margin: 3rem 0 3rem;

    font-size: $_26px;
    font-weight: 400;

    text-shadow: 6px 4px 4px rgba($color: $black, $alpha: 0.13);

    @include breakpoint-up(desktop) {
      margin: 6rem auto 4rem;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0%;
      bottom: -10%;
      height: 3.5px;
      width: 2rem;
      background-color: $orange;
      box-shadow: 3px 3px 4px rgba($color: $black, $alpha: 0.13);

      @include breakpoint-up(tablet) {
        width: 14%;
      }

      @include breakpoint-up(desktop) {
        display: none;
      }
    }

    @include breakpoint-up(desktop) {
      font-size: $_30px;
    }

    @include breakpoint-up(large) {
      font-size: $_34px;
    }
  }
}
