.areas__grid__card {
  padding: 2rem 1.875rem;
  border-top: 1px solid rgba($color: $grey, $alpha: 0.3);

  transition: all 0.2s ease;
  cursor: pointer;

  &:last-child {
    border-bottom: 1px solid rgba($color: $grey, $alpha: 0.3);
  }

  &:hover {
    // background-color: rgba($color: $grey, $alpha: 0.15);
    border-top: 2px solid rgba($color: $orange, $alpha: 1);
  }

  @include breakpoint-up(iPadPro) {
    padding: 2.85rem 2.875rem;
  }

  // &:hover &__sub_title {
  //   color: $white;
  // }

  // &:hover &__button {
  //   border: 2px solid $white;
  // }

  // &:hover .areas__grid__card__button__lines {
  //   background-color: $white;
  // }

  &__sub_title,
  &__title {
    font-weight: 400;
    margin: 0;
  }

  &__sub_title {
    color: $black;
    font-size: $_14px;
    margin-right: 40px;
    font-weight: 100;

    white-space: nowrap;

    @include breakpoint-up(iPadPro) {
      margin-right: 60px;
      font-size: $_18px;
    }
  }

  &__title {
    font-size: $_18px;
    color: $orange;
    font-family: $portoSansStencil;

    @include breakpoint-up(iPadPro) {
      font-size: $_22px;
    }

    @include breakpoint-up(large) {
      font-size: $_24px;
    }
  }

  &__button {
    position: relative;
    background-color: transparent;
    // border: 1.5px solid $black;
    border: none;
    border-radius: 50%;
    height: 1.625rem;
    width: 1.625rem;

    &:focus {
      outline: none;
    }

    &__lines {
      position: absolute;
      width: 1.5px;
      height: 12px;
      background-color: $black;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      &:nth-child(1) {
        transition: all 0.5s ease;
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      &.minus {
        &:nth-child(1) {
          height: 0;
        }
      }
    }
  }

  &__content {
    margin: 2rem 0 0;
    max-height: 300px;
    overflow-y: auto;

    @include breakpoint-up(iPadPro) {
      margin: 4rem 0 0;
    }

    // display: none;

    // &.closed {
    //   height: 0;
    // }

    &__paragraph {
      margin: 0;
      font-size: $_16px;
      letter-spacing: 0.2px;
      line-height: 1.6;

      @include breakpoint-up(iPadPro) {
        font-size: $_18px;
      }

      @include breakpoint-up(large) {
        font-size: $_22px;
      }
    }
  }

  // // box-shadow: 0 3px 20px 0px rgba(0, 0, 0, 0.05),
  // //   0 -3px 20px 0px rgba(0, 0, 0, 0.05);

  // @include breakpoint-up(large) {
  //   padding: 3rem 3.875rem;
  // }

  // // border-radius: 2px;

  // transition: all 0.5s ease;

  // &__title {
  //   position: relative;
  //   margin: 0;
  //   padding: 20px 0;
  //   // width: fit-content;

  //   color: $orange;
  //   font-size: $_20px;
  //   font-weight: 400;
  //   font-family: $portoSansStencil;
  //   letter-spacing: 0.4px;

  //   text-shadow: 2px 4px 4px rgba($color: #080808, $alpha: 0.4);

  //   &:after {
  //     content: "";
  //     position: absolute;
  //     border-bottom: 2px solid $orange;
  //     width: 100%;
  //     bottom: 0%;
  //     left: 0%;

  //     box-shadow: 2px 4px 4px rgba($color: #080808, $alpha: 0.4);
  //   }

  //   &:first-child {
  //     padding-top: 0;
  //   }

  //   @include breakpoint-up(desktop) {
  //     font-size: $_24px;
  //   }

  //   @include breakpoint-up(large) {
  //     font-size: $_34px;
  //   }
  // }

  // &__paragraph {
  //   margin: 40px 0;
  //   font-size: $_16px;
  //   letter-spacing: 0.2px;
  //   line-height: 1.6;

  //   @include breakpoint-up(desktop) {
  //     font-size: $_18px;
  //   }

  //   @include breakpoint-up(large) {
  //     font-size: $_22px;
  //     margin: 60px 0;
  //   }
  // }

  // &__button {
  //   position: relative;
  //   padding: 20px 0;
  //   width: 100%;

  //   background-color: transparent;
  //   border: none;
  //   font-size: $_14px;
  //   text-transform: uppercase;
  //   text-align: left;
  //   font-weight: 400;

  //   cursor: pointer;
  //   transition: all 0.5s ease;

  //   &:hover {
  //     letter-spacing: 0.5px;
  //   }

  //   @include breakpoint-up(desktop) {
  //     font-size: $_16px;
  //   }

  //   @include breakpoint-up(large) {
  //     font-size: $_18px;
  //     padding: 30px 0;
  //   }

  //   &:after {
  //     content: "";
  //     position: absolute;
  //     border-top: 1.5px solid $black;
  //     width: 100%;
  //     top: 0%;
  //     left: 0%;
  //   }

  //   &:after {
  //     content: "";
  //     position: absolute;
  //     border-bottom: 1.5px solid $black;
  //     width: 100%;
  //     bottom: 0%;
  //     left: 0%;
  //   }

  //   a {
  //     color: $black;
  //     font-family: $portoSans;
  //   }
  // }
}
