.positions__available__card {
  box-shadow: 0px 6px 20px rgba($color: $black, $alpha: 0.03),
    0px -6px 20px rgba($color: $black, $alpha: 0.03);
  padding: 2rem 2rem;

  row-gap: 2rem;

  width: fit-content;
  transition: all 0.25s ease;

  @include breakpoint-up(tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, min-content);
  }

  &:hover {
    box-shadow: 0px 6px 30px rgba($color: $black, $alpha: 0.05),
      0px -6px 30px rgba($color: $black, $alpha: 0.05);
  }

  @include breakpoint-up(iPadPro) {
    border-radius: 4px;
    grid-template-columns: minmax(30vw, 1fr) minmax(30vw, 1fr) min-content;

    row-gap: 0;
  }

  &__header {
    position: relative;
    width: fit-content;
    padding-bottom: 1rem;
    margin: 0;

    font-size: $_18px;
    font-weight: 400;
    text-shadow: 2px 2px 3px rgba($color: $black, $alpha: 0.2);

    &::after {
      content: "";
      position: absolute;
      bottom: 0%;
      left: 0%;
      background-color: $orange;
      height: 3px;
      width: 40px;
      box-shadow: 2px 2px 3px rgba($color: $black, $alpha: 0.2);
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_20px;
    }

    @include breakpoint-up(large) {
      font-size: $_22px;
    }
  }

  &__button {
    background-color: transparent;
    border: none;

    cursor: pointer;

    &:focus {
      outline: none;
    }

    @include breakpoint-up(tablet) {
      margin-top: 2rem;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_15px;
    }

    &__container {
      position: relative;
      margin-right: 1rem;
    }

    &__lines {
      position: absolute;
      width: 1.5px;
      height: 8px;
      background-color: $grey;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      @include breakpoint-up(iPadPro) {
        width: 1.5px;
        height: 10px;
      }

      &:nth-child(1) {
        transition: all 0.5s ease;
      }

      &:nth-child(2) {
        transform: translate(-50%, -50%) rotate(90deg);
      }

      &.minus {
        &:nth-child(1) {
          height: 0;
        }
      }
    }

    &__header {
      white-space: nowrap;
      color: $grey;
      font-weight: 400;

      margin: 0;
    }
  }

  ul {
    margin: 0;
    padding: 0 calc(1rem + 3.5px);
    list-style: none;

    font-size: $_17px;

    @include breakpoint-up(iPadPro) {
      font-size: $_18px;
    }

    li {
      margin: 1rem 0;
      letter-spacing: 0.1px;

      &:first-child {
        margin: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      &::before {
        content: "\2022";
        color: $orange;
        border: none;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
      }
    }
  }

  &__info {
    p {
      font-size: $_16px;
      line-height: 1.6;

      margin: 0;

      @include breakpoint-up(iPadPro) {
        font-size: $_17px;
        line-height: 1.7;
      }

      a {
        text-decoration: underline;
        color: $orange;
      }
    }

    &.opened {
      @include breakpoint-up(iPadPro) {
        margin-top: 2rem;
      }
    }

    @include breakpoint-up(tablet) {
      grid-area: 3 / 1 / 4 / 3;
    }

    @include breakpoint-up(iPadPro) {
      grid-area: 2 / 1 / 3 / 4;
    }
  }

  &__apply_btn {
    height: fit-content;
    background-color: $orange;
    border: none;
    border-radius: 6px;
    padding: 12px 20px;
    color: $white;
    letter-spacing: 0.1px;
    font-size: $_14px;
    cursor: pointer;

    @include breakpoint-up(iPadPro) {
      justify-self: center;
      white-space: nowrap;
      font-size: $_15px;
    }
  }
}
