.headers {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 990;
  transition: all 0.4s cubic-bezier(0, 0, 0.32, 1.03);
}

.navbar {
  position: relative;
  width: 100%;
  background-color: transparent;
  font-family: $portoSansStencil;
  box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 0.1rem 1.25rem;

  &.normal {
    background-color: $white;
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.1);

    .navbar__hamburger__lines {
      background-color: $black;
    }

    .navbar__desktop_menu {
      &__links {
        a {
          position: relative;
          z-index: 8;
          color: $black;
        }
      }
    }
  }

  &.scroll.transparent {
    background-color: $white !important;
    box-shadow: 0px 1px 10px 0 rgba(0, 0, 0, 0.1);

    .navbar__hamburger__lines {
      background-color: $black;
    }

    .navbar__desktop_menu {
      &__links {
        a {
          position: relative;
          z-index: 8;
          color: $black;
        }
      }
    }
  }

  @include breakpoint-up(desktop) {
    padding: 0 5rem;
  }

  @include breakpoint-up(large) {
    padding: 0.25rem 5rem;
  }

  &__logo {
    width: fit-content;

    img {
      width: 4.25rem;

      @include breakpoint-up(iPadPro) {
        width: 7rem;
      }
    }
  }

  &__hamburger {
    width: 1.75rem;
    height: 1rem;
    position: relative;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease;

    &:focus {
      outline: none;
    }

    &__lines {
      height: 2px;
      background-color: $white;
      position: absolute;
      z-index: 999;
      right: 0%;
      border-radius: 4px;
      transition: all 0.5s ease;
      transform-origin: -0.5px center;

      @include breakpoint-down(phone) {
        height: 2px;
      }

      &.open {
        background-color: $black;
        transform-origin: -2.55px center;
      }

      &:nth-child(1) {
        &.open {
          transform: rotate(45deg);
        }
      }

      &:nth-child(1),
      &:nth-child(3) {
        width: 1.25rem;
        top: 1%;

        &.open {
          height: 2px;
          width: 1.25rem;

          @include breakpoint-down(phone) {
            height: 2px;
          }
        }
      }

      &:nth-child(2) {
        top: 50%;
        width: 1.25rem;

        &.open {
          opacity: 0;
          transform: translateX(15%);
        }
      }

      &:nth-child(3) {
        top: 100%;

        &.open {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &__mobile_overlay {
    position: fixed;
    top: 0%;
    left: 0%;
    opacity: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;

    &.overlay_opened {
      z-index: 1;
      opacity: 1;
    }
  }

  &__mobile_menu {
    overflow-y: hidden;
    grid-template-rows: repeat(3, min-content);
    padding: 0 2rem;
    background-color: $white;
    color: $black;
    width: 100%;
    height: calc(100vh - 0.6rem);
    position: absolute;
    z-index: -999;
    right: -100%;
    top: 0;
    transition: all 0.5s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include breakpoint-down(phone) {
      padding: 5.25rem 2rem 1.625rem;
    }

    @include breakpoint-width-height(667px, 375px, 667px) {
      grid-template-rows: repeat(
        4,
        min-content min-content min-content min-content
      );

      row-gap: 2rem;
    }

    @include breakpoint-width-height(812px, 375px, 812px) {
      row-gap: 5rem;
    }

    @include breakpoint-up(largePhone) {
      // padding: 5.25rem 1rem 1.625rem;
    }

    @include breakpoint-up(tablet) {
      padding: 8.25rem 1rem 1.625rem;
    }

    &.open__overlay {
      right: 0%;
    }

    &__info {
      h1,
      p {
        text-align: center;
      }

      h1 {
        text-transform: uppercase;
        color: $orange;
        margin: 0;

        @include breakpoint-down(smallPhone) {
          font-size: $_22px;
        }

        @include breakpoint-up(tablet) {
          font-size: $_26px;
        }
      }

      p {
        font-family: $portoSans;
        font-style: italic;
        font-size: $_17px;
        margin: $_20px 0 $_30px;

        @include breakpoint-down(smallPhone) {
          font-size: $_16px;
          margin: $_16px 0 $_24px;
        }

        @include breakpoint-up(largePhone) {
          margin: $_12px 0 $_20px;
        }

        @include breakpoint-up(tablet) {
          font-size: $_18px;
        }
      }

      hr {
        background-color: $orange;
        border: none;
        height: 2px;
        width: $_60px;
      }
    }

    &__links {
      height: fit-content;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: minmax(min-content, max-content);
      align-items: center;
      justify-items: center;
      column-gap: 1.5rem;

      a {
        text-align: left;
        color: $black;
        margin-top: $_30px;
        font-size: $_18px;
        font-family: $portoSans;
        text-transform: uppercase;

        &:nth-child(1),
        &:nth-child(2) {
          margin-top: 0;
        }

        @include breakpoint-down(phone) {
          margin-top: $_20px;
          font-size: $_17px;
        }

        @include breakpoint-width-height(41.6875em, 23.4375em, 41.75em) {
          margin-top: $_30px;
        }

        @include breakpoint-up(tablet) {
          font-size: $_20px;
        }
      }
    }

    &__socials {
      grid-template-columns: repeat(6, 1fr);
      justify-items: center;
      align-items: center;
      column-gap: 1.5rem;

      @include breakpoint-up(tablet) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        row-gap: 2rem;
      }

      a {
        font-size: $_18px;
        color: $black;

        @include breakpoint-up(tablet) {
          font-size: $_22px;
        }

        &:last-child {
          margin: 0;
        }
      }
    }

    &__policy {
      //   position: absolute;
      //   bottom: 10%;
      //   left: 50%;
      //   transform: translateX(-50%);

      // @include breakpoint-width-height(41.6875em, 23.4375em, 41.75em) {
      //   align-self: flex-start;
      // }

      p {
        text-align: center;
        font-size: $_14px;
        color: $grey;
        font-weight: lighter;
        margin: 0;

        @include breakpoint-down(phone) {
          font-size: $_14px;
        }

        @include breakpoint-up(tablet) {
          font-size: $_16px;
        }
      }
    }
  }

  &__desktop_menu {
    &__links {
      a {
        position: relative;
        text-transform: uppercase;
        margin-right: $_60px;
        font-size: $_20px;
        color: $white;
        font-family: $portoSans;

        &.router-link-active {
          color: $orange !important;

          &::after {
            display: none;
          }
        }

        &:last-child {
          @include breakpoint-up(iPadPro) {
            margin-right: 0;
          }
        }

        @include breakpoint-up(iPadPro) {
          margin-right: $_50px;
          font-size: $_15px;
        }

        &::after {
          content: "";
          display: block;
          position: absolute;
          z-index: -2;
          left: -15%;
          bottom: -5%;
          background-color: transparent;
          opacity: 0.85;
          width: 0;
          height: 120%;
          transition: all 0.5s ease;
        }

        &:hover::after {
          width: 36px;
          background-color: $orange;
        }

        @include breakpoint-up(large) {
          margin-right: $_60px;
          font-size: $_17px;
        }
      }
    }
  }
}
