.landing {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100vh;
  padding: calc(14.1875rem + 2vw) 0 0 14vw;

  @include breakpoint-down(phone) {
    padding: calc(11.1875rem + 2vw) 0 0 14vw;
  }

  @include breakpoint-up(iPadPro) {
    padding: calc(20.1875rem + 2vw) 0 0 14vw;
  }

  @include breakpoint-up(desktop) {
    padding: calc(13.1875rem + 2vw) 0 0 14vw;
  }

  @include breakpoint-up(large) {
    padding: calc(14.1875rem + 2vw) 0 0 14vw;
  }

  h1 {
    letter-spacing: 1px;
    margin: 0;
    color: $orange;
    font-size: $_32px;
    font-family: "Porto Sans Stencil";
    text-transform: uppercase;

    span {
      color: $black;
    }

    @include breakpoint-down(phone) {
      font-size: $_26px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_60px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_46px;
    }

    @include breakpoint-up(large) {
      font-size: $_60px;
    }
  }

  hr {
    background-color: $orange;
    width: 50px;
    height: 4px;
    border: none;
    margin: 1rem 0 2.875rem;

    @include breakpoint-down(phone) {
      margin: 1rem 0 1.875rem;
    }

    @include breakpoint-up(iPadPro) {
      margin: 1rem 0 2.875rem;
    }

    @include breakpoint-up(large) {
      height: 6px;
    }
  }

  h4 {
    // text-align: center;
    margin: 0;
    color: $black;
    font-size: $_26px;
    font-family: $portoSans;
    font-weight: 400;

    span {
      color: $black;
    }

    @include breakpoint-down(phone) {
      font-size: $_20px;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_40px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_30px;
    }

    @include breakpoint-up(large) {
      font-size: $_34px;
      line-height: 1.6;
    }
  }

  button {
    cursor: pointer;
    margin: 2.875rem 0;
    padding: 1rem 1.5rem;
    background-color: $orange;
    border: none;
    border-radius: 2px;
    color: $white;
    font-size: $_18px;
    font-family: $portoSansStencil;

    @include breakpoint-down(phone) {
      font-size: $_16px;
      margin: 1.875rem 0;
    }

    @include breakpoint-up(iPadPro) {
      font-size: $_24px;
      padding: 1.5rem 1.75rem;
    }

    @include breakpoint-up(desktop) {
      font-size: $_28px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_18px;
      padding: 1rem 1.75rem;
    }
  }

  &__down {
    width: 100%;
    background-color: $lightGrey;
    position: absolute;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint-up(iPadPro) {
      background-color: transparent;
    }

    &__arrow {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 1.625rem;
      animation: arrow-down 2s ease-in-out infinite;

      .line {
        position: absolute;
        width: 3px;
        height: 20px;
        background-color: $orange;

        &:nth-child(1) {
          top: 0%;
          left: 50%;
          transform: translateX(-50%);
        }

        &:nth-child(2) {
          transform-origin: 11px 3px;
          height: 12px;
          top: 50%;
          left: 0%;
          transform: translateY(-50%) rotate(-45deg);
        }

        &:nth-child(3) {
          transform-origin: -8px 3px;
          height: 12px;
          top: 50%;
          right: 0%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    p {
      white-space: nowrap;
      font-size: $_18px;
      font-family: $portoSansStencil;
      font-weight: 400;
      color: $black;

      @include breakpoint-up(iPadPro) {
        color: $black;
      }

      @include breakpoint-up(large) {
        font-size: $_20px;
        letter-spacing: 0.4px;
      }
    }
  }

  &__carousel {
    position: absolute;
    bottom: 3%;
    left: 0%;

    .carousel {
      position: relative;
      overflow: hidden;
      width: fit-content;
      height: fit-content;
      padding: 0.75rem 1rem;

      .slide-track {
        animation: scroll 8s linear infinite;
        display: flex;
        width: calc(300px * 4);

        .slide {
          display: flex;
          justify-content: center;
          align-items: center;
          height: fit-content;
          width: 350px;

          p {
            white-space: nowrap;
            font-size: $_18px;
            font-family: $portoSansStencil;
            font-weight: 400;
            color: $black;
            margin: 0 2rem;

            @include breakpoint-up(iPadPro) {
              color: $black;
            }
          }
        }
      }
    }
  }
}
