.landing {
  position: relative;
  z-index: 1;
  width: 100%;
  // height: 70vh;
  height: auto;
  padding: 0;

  grid-template-rows: 60vh auto;

  @include breakpoint-down(phone) {
    padding: calc(11.1875rem + 2vw) 0 0 14vw;
  }

  @include breakpoint-up(iPadPro) {
    padding: calc(12.1875rem + 2vw) 0 0 14vw;
    // height: 80vh;
  }

  @include breakpoint-up(desktop) {
    padding: 0;
    height: 100vh;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .overlay {
    width: 100%;
    height: 60vh;
    position: absolute;
    top: 0%;
    left: 0%;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);

    @include breakpoint-up(iPadPro) {
      height: 100vh;
    }

    // @include breakpoint-up(iPadPro) {
    //   height: 84vh;
    // }

    // @include breakpoint-up(large) {
    //   height: 80vh;
    // }
  }

  &__image {
    position: absolute;
    left: 0%;
    top: 0%;
    right: 0%;
    bottom: 0;
    z-index: -999;
    width: 100vw;
    height: 60vh;
    padding: 0;

    background-image: url("../assets/portic.jpg");
    background-position: 20% 90%;
    background-repeat: no-repeat;
    background-size: cover;

    @include breakpoint-up(iPadPro) {
      height: 100vh;
      background-position: center;
    }
  }

  &__titles {
    position: relative;
    z-index: 999;
    padding: calc(10rem + 2vw) 8vw;

    @include breakpoint-up(iPadPro) {
      padding: 2rem 0;
    }

    @include breakpoint-up(desktop) {
      padding: calc(12rem + 2vw) 8vw;
    }

    h1 {
      letter-spacing: 1px;
      margin: 0;
      color: $orange;
      font-size: $_32px;
      text-transform: uppercase;

      text-shadow: 3px 3px 4px rgba($color: $black, $alpha: 0.15);

      span {
        // color: $black;
        color: $white;
      }

      @include breakpoint-down(phone) {
        font-size: $_26px;
      }

      @include breakpoint-up(tablet) {
        font-size: $_50px;
      }

      @include breakpoint-up(iPadPro) {
        font-size: $_60px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_40px;
        font-weight: 500;
      }

      @include breakpoint-up(large) {
        font-size: $_60px;
      }
    }

    hr {
      background-color: $orange;
      width: 50px;
      height: 4px;
      border: none;
      margin: 1rem 0 2.875rem;
      box-shadow: 4px 4px 4px rgba($color: $black, $alpha: 0.15);

      @include breakpoint-down(phone) {
        margin: 1rem 0 1.875rem;
      }

      @include breakpoint-up(tablet) {
        margin: 1.5rem 0 2.875rem;
      }

      @include breakpoint-up(iPadPro) {
        margin: 1rem 0 2.875rem;
      }

      @include breakpoint-up(large) {
        height: 6px;
        margin: 1.5rem 0 2.875rem;
      }
    }

    h4 {
      margin: 0;
      color: $white;
      font-size: $_22px;
      font-family: $portoSans;
      font-weight: 400;
      text-shadow: 3px 3px 4px rgba($color: $black, $alpha: 0.15);

      span {
        // color: $black;
        color: $white;
      }

      @include breakpoint-down(phone) {
        font-size: $_20px;
      }

      @include breakpoint-up(tablet) {
        font-size: $_30px;
        line-height: 1.7;
      }

      @include breakpoint-up(iPadPro) {
        font-size: $_40px;
      }

      @include breakpoint-up(desktop) {
        font-size: $_30px;
      }

      @include breakpoint-up(large) {
        font-size: $_34px;
        line-height: 1.6;
      }
    }
  }

  &__highlights {
    position: relative;
    z-index: 999;
    margin: 5vh 8vw;

    @include breakpoint-up(desktop) {
      margin: 0;
      padding: calc(12rem + 2vw) 8vw;
    }

    h1 {
      position: relative;

      color: $orange;
      font-weight: 500;
      font-size: $_26px;

      margin-bottom: 2rem;

      @include breakpoint-up(tablet) {
        font-size: $_34px;
        margin-bottom: 4rem;
      }

      @include breakpoint-up(desktop) {
        margin-top: 0;
        font-size: $_22px;
        margin-bottom: 3rem;
      }

      &::after {
        content: "";
        position: absolute;
        left: 0%;
        bottom: -30%;
        height: 2.5px;
        width: 30px;
        background-color: $orange;
      }
    }

    &__desktop {
      background-color: rgba($color: $black, $alpha: 0.75);
      position: absolute;
      right: 0%;
      bottom: 0%;

      padding: 3rem 4rem;
      border-radius: 10px 0 0 0;

      &__grid {
        @include breakpoint-up(desktop) {
          grid-template-columns: 1fr 1fr;
        }
      }
    }

    &__grid {
      margin-top: 2rem;
      grid-template-columns: 1fr 1fr;

      @include breakpoint-up(tablet) {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    a {
      width: fit-content;

      cursor: pointer;
      padding: 1rem 0;

      color: $black;
      font-size: $_18px;

      @include breakpoint-down(phone) {
        font-size: $_16px;
      }

      @include breakpoint-up(iPadPro) {
        font-size: $_24px;
        padding: 1.5rem 0;
      }

      @include breakpoint-up(desktop) {
        font-size: $_28px;
        color: $white;
      }

      @include breakpoint-up(desktop) {
        font-size: $_18px;
        padding: 1rem 0;
      }

      span {
        margin-left: 0.5rem;
      }
    }
  }

  &__down {
    width: 100%;
    background-color: $lightGrey;
    position: absolute;
    z-index: 50;
    bottom: 4%;
    left: 50%;
    transform: translateX(-50%);

    @include breakpoint-up(iPadPro) {
      background-color: transparent;
    }

    &__arrow {
      position: relative;
      width: 20px;
      height: 20px;
      margin-right: 1.625rem;
      animation: arrow-down 2s ease-in-out infinite;

      .line {
        position: absolute;
        width: 3px;
        height: 20px;
        background-color: $white;

        &:nth-child(1) {
          top: 0%;
          left: 50%;
          transform: translateX(-50%);
        }

        &:nth-child(2) {
          transform-origin: 11px 3px;
          height: 12px;
          top: 50%;
          left: 0%;
          transform: translateY(-50%) rotate(-45deg);
        }

        &:nth-child(3) {
          transform-origin: -8px 3px;
          height: 12px;
          top: 50%;
          right: 0%;
          transform: translateY(-50%) rotate(45deg);
        }
      }
    }

    p {
      white-space: nowrap;
      font-size: $_18px;
      font-family: $portoSansStencil;
      font-weight: 400;
      color: $black;
      mix-blend-mode: difference;

      @include breakpoint-up(iPadPro) {
        // color: $black;
        color: $white;
      }

      @include breakpoint-up(large) {
        font-size: $_20px;
        letter-spacing: 0.4px;
      }
    }
  }

  &__carousel {
    position: absolute;
    bottom: 8%;
    left: 0%;

    .carousel {
      position: relative;
      overflow: hidden;
      width: fit-content;
      height: fit-content;
      padding: 0.75rem 1rem;

      .slide-track {
        animation: scroll 8s linear infinite;
        display: flex;
        width: calc(300px * 4);

        .slide {
          display: flex;
          justify-content: center;
          align-items: center;
          height: fit-content;
          width: 350px;

          h4 {
            white-space: nowrap;
            font-size: $_18px;
            font-family: $portoSansStencil;
            font-weight: 400;
            // color: $black;
            color: $white;
            margin: 0 2rem;

            @include breakpoint-up(iPadPro) {
              color: $black;
            }
          }
        }
      }
    }
  }
}
