.slide__panel {
  padding: calc(3.1875rem + 2vw) 2rem 4rem;
  background-color: $white;
  overflow: hidden;

  position: fixed;
  z-index: 999;
  right: -100%;
  top: 0%;
  bottom: 0%;
  height: 100vh;
  width: 100%;

  transition: all 0.6s ease;

  ::-webkit-scrollbar {
    width: 2px;
    border-radius: 2px;
  }

  ::-webkit-scrollbar-track {
    background: rgba($color: $black, $alpha: 0.1);
    border-radius: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba($color: $black, $alpha: 0.2);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba($color: $black, $alpha: 0.2);
  }

  @include breakpoint-down(phone) {
    padding: calc(2.1875rem + 2vw) 2rem 4rem;
  }

  @include breakpoint-width-height(667px, 375px, 667px) {
    padding: 2rem 2rem 4rem;
  }

  @include breakpoint-up(tablet) {
    width: 80%;
    padding: calc(6.1875rem + 2vw) 8vw;
  }

  @include breakpoint-up(desktop) {
    width: 40vw;
    padding: 1.5rem 4rem;
  }

  &.opened {
    right: 0%;
  }

  h2 {
    color: $orange;
    font-weight: 400;
    font-family: $portoSansStencil;
    font-size: $_18px;
    margin-top: 2.5rem;

    @include breakpoint-up(iPadPro) {
      padding-right: 20px;
      line-height: 1.7;
      font-size: $_24px;
    }

    @include breakpoint-up(desktop) {
      font-size: $_22px;
    }
  }

  p {
    margin: 2rem 0 0;
    padding-right: 10px;
    max-height: 64vh;
    overflow-y: auto;
    overflow-x: hidden;
    color: $black;

    @include breakpoint-down(phone) {
      max-height: 60vh;
    }

    @include breakpoint-width-height(812px, 375px, 812px) {
      max-height: 58vh;
    }

    font-size: $_16px;
    letter-spacing: 0.25px;
    line-height: 1.55;

    @include breakpoint-up(tablet) {
      padding-right: 20px;
      line-height: 1.7;
      font-size: $_17px;
    }

    @include breakpoint-up(iPadPro) {
      padding-right: 20px;
      line-height: 1.7;
      font-size: $_20px;
    }

    @include breakpoint-up(desktop) {
      padding-right: 20px;
      line-height: 1.8;
      font-size: $_18px;
    }
  }

  &__actions {
    padding: 0 0 1.5rem 0;

    border-bottom: 1px solid rgba($color: $grey, $alpha: 0.4);

    &__author {
      margin: 0 !important;

      @include breakpoint-up(tablet) {
        left: 8vw;
        bottom: calc(8vw + 12.5px);
      }

      @include breakpoint-up(desktop) {
        right: 4rem;
        left: 4rem;
        bottom: calc(2rem + 10px);
      }

      @include breakpoint-up(large) {
        bottom: calc(2rem + 12.5px);
      }
    }
  }

  &__back {
    position: relative;
    align-self: flex-end;
    border-radius: 50%;
    background-color: $white;
    width: 40px;
    height: 40px;

    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);

    @include breakpoint-up(tablet) {
      width: 50px;
      height: 50px;
    }

    @include breakpoint-up(desktop) {
      width: 40px;
      height: 40px;
    }

    @include breakpoint-up(large) {
      width: 50px;
      height: 50px;
    }

    cursor: pointer;

    .arrow {
      position: absolute;
      top: 52%;
      left: 48%;
      transform: translate(-50%, -50%);
      width: 34%;
      height: 2px;
      background-color: $orange;

      @include breakpoint-up(tablet) {
        height: 3px;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        width: 60%;
        left: 60%;
        height: 2px;
        background-color: $orange;

        @include breakpoint-up(tablet) {
          height: 3px;
        }

        @include breakpoint-up(desktop) {
          height: 2px;
        }

        @include breakpoint-up(large) {
          height: 3px;
        }
      }

      &::after {
        top: -2px;
        transform: rotate(45deg);

        @include breakpoint-up(tablet) {
          top: -3px;
        }

        @include breakpoint-up(desktop) {
          top: -2px;
        }

        @include breakpoint-up(large) {
          top: -3px;
        }
      }

      &::before {
        top: 2px;
        transform: rotate(-45deg);

        @include breakpoint-up(tablet) {
          top: 3px;
        }

        @include breakpoint-up(desktop) {
          top: 2px;
        }

        @include breakpoint-up(large) {
          top: 3px;
        }
      }
    }
  }
}

.slide__panel__overlay {
  position: fixed;
  z-index: -999;
  top: 0%;
  left: 0%;
  visibility: hidden;
  opacity: 0;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease;

  cursor: pointer;

  &.overlay_opened {
    z-index: 991;
    opacity: 1;
    visibility: visible;
  }
}
