.sub__header__title {
  position: relative;
  width: fit-content;
  padding: 0 0 1rem;
  margin: 0 0 3rem;

  font-size: $_26px;
  font-weight: 400;
  font-family: $portoSansStencil;
  color: $black;

  text-shadow: 6px 4px 4px rgba($color: $black, $alpha: 0.13);

  &.light {
    color: $white;
    text-shadow: 6px 4px 4px rgba($color: $white, $alpha: 0.13);

    &::after {
      box-shadow: 3px 3px 4px rgba($color: $white, $alpha: 0.13);
    }
  }

  &::after {
    content: "";
    position: absolute;
    left: 0%;
    bottom: 0%;
    height: 3.5px;
    width: 25%;
    background-color: $orange;
    box-shadow: 3px 3px 4px rgba($color: $black, $alpha: 0.13);

    @include breakpoint-up(large) {
      bottom: 0;
      width: 10%;
    }
  }

  @include breakpoint-up(iPadPro) {
    font-size: $_30px;
    margin: 0 0 5rem;
  }

  @include breakpoint-up(large) {
    font-size: $_34px;
  }
}
