.project__team__grid__card {
  img {
    border: 1px solid $black;
    padding: 4px;
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }

  h2 {
    margin: 0;
    font-weight: 400;
    margin-top: 1rem;
    font-size: $_18px;
  }

  a {
    margin-top: 0.2rem;
    font-size: $_16px;
    color: $lightGrey;
  }
}
