.dashboard_tools {
  padding: 1rem 3rem 2rem;

  @include breakpoint-up(large) {
    padding: 1rem 3rem 3rem;
  }

  input {
    padding: 12px 26px;
    margin-right: 3.125rem;
    border-radius: 2px;
    font-family: $portoSans;
    font-size: $_15px;
    border: 1px solid rgba($color: $black, $alpha: 0.3);

    &:focus {
      outline: none;
      border: 1px solid rgba($color: $orange, $alpha: 1);
    }
  }

  p {
    color: $orange;
    margin-left: 2.5rem;

    font-size: $_18px;

    svg {
      margin-right: 0.6rem;
    }
  }

  button:not(.edit_confirm_button) {
    display: flex;
    align-items: center;

    background-color: rgba($color: $black, $alpha: 0.02);
    border: none;
    border-radius: 1.625rem;

    padding: 0.84375rem 1.625rem;
    margin-right: 3.125rem;

    font-size: $_16px;
    font-family: $portoSans;
    letter-spacing: 0.2px;

    svg {
      display: none;

      margin-right: 0.6rem;
    }

    &.active svg {
      display: block;
    }
  }

  select {
    padding: 12px 26px;
    border: 1px solid rgba($color: $black, $alpha: 0.3);

    border-radius: 2px;

    &:focus {
      outline: none;
    }
  }
}
