.admin_nav {
  height: 100vh;
  width: fit-content;
  position: fixed;
  z-index: 1;
  top: 0%;
  left: 0%;

  padding: 4rem 2.375rem;

  background-color: $admin_black;

  &__link {
    color: $white;

    svg {
      margin-right: 2.125rem;
      fill: $white;

      height: 20px;
      width: 20px;
    }
  }

  .router-link-exact-active {
    position: relative;
    color: $orange;

    svg,
    path,
    rect {
      fill: $orange;
    }

    &::after {
      content: "";
      position: absolute;
      right: 0%;
      top: 50%;
      transform: translateY(-50%);
      background-color: $orange;
      height: 26px;
      width: 2.5px;
    }
  }
}
