*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  overflow-x: hidden;
  font-family: $portoSans;
  font-size: $_16px;
  line-height: 1.4;
  touch-action: pan-y !important;
  -webkit-overflow-scrolling: touch;
  -webkit-appearance: none;
}

.panel-open {
  overflow: hidden !important;
}

// ::-webkit-scrollbar {
//   display: none;
// }

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

select,
option,
input,
textarea,
button,
select,
a {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

input[type="radio"] {
  -webkit-appearance: checkbox;
}

.flex {
  display: flex;

  &-fd-c {
    flex-direction: column;
  }

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-fe {
    justify-content: flex-end;
  }

  &-ai-c {
    align-items: center;
  }

  &-ai-fs {
    align-items: flex-start;
  }

  &-ai-fe {
    align-items: flex-end;
  }
}

.grid {
  display: grid;
}

// hides bellow iPadPro
.hide-for-mobile {
  @include breakpoint-down(iPadPro) {
    display: none;
  }
}

// hides above iPadPro
.hide-above-phone {
  @include breakpoint-middle(desktop, smallPhone) {
    display: none;
  }
}
.hide-above-phone-iPadPro {
  @include breakpoint-middle(iPadPro, smallPhone) {
    display: none;
  }
}

.show-tablet-hide-phone {
  @include breakpoint-middle(iPadPro, tablet) {
    display: block;
  }
}

.hide-below-tablet {
  @include breakpoint-down(desktop) {
    display: none;
  }
}

.hide-above-tablet {
  @include breakpoint-up(desktop) {
    display: none;
  }
}

.hide-for-tablet {
  @include breakpoint-down(iPadPro) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-up(iPadPro) {
    display: none;
  }
}

.scene,
canvas {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: -5;

  // @include breakpoint-up(desktop) {
  //   top: 5%;
  // }
}

button {
  cursor: pointer;

  &:focus {
    outline: none;
  }
}
