$black: #080808;
$white: #ffffff;
$orange: #c94d24;
$lightGrey: #666666;
$grey: #999999;

$admin_black: #1e1e1e;
$admin_grey: rgba(
  $color: $black,
  $alpha: 0.02
);
$admin_yellow: #fcebc7;
$admin_pink: #ffe6e6;
$admin_salmon: #fe6161;
$admin_orange: #ff8000;
$admin_orange2: #ffad10;
$admin_red: #ff1010;

$portoSans: "Porto Sans";
$portoSansStencil: "Porto Sans Stencil";
$portoSerif: "Porto Serif";

$_10px: 0.625rem;
$_11px: 0.6875rem;
$_12px: 0.75rem;
$_13px: 0.8125rem;
$_14px: 0.875rem;
$_15px: 0.9375rem;
$_16px: 1rem;
$_17px: 1.0625rem;
$_18px: 1.0625rem;
$_19px: 1.0625rem;
$_20px: 1.0625rem;
$_17px: 1.0625rem;
$_18px: 1.125rem;
$_19px: 1.1875rem;
$_20px: 1.25rem;
$_22px: 1.375rem;
$_24px: 1.5rem;
$_26px: 1.625rem;
$_28px: 1.75rem;
$_30px: 1.875rem;
$_32px: 2rem;
$_34px: 2.125rem;
$_36px: 2.25rem;
$_40px: 2.5rem;
$_44px: 2.75rem;
$_46px: 2.875rem;
$_50px: 3.125rem;
$_54px: 3.375rem;
$_60px: 3.75rem;
$_70px: 4.375rem;
$_84px: 5.25rem;
$_90px: 5.625rem;
$_96px: 6rem;
$_110px: 6.875rem;
$_120px: 7.5rem;
$_130px: 8.125rem;
$_140px: 8.75rem;
$_150px: 9.375rem;
$_160px: 10rem;
$_170px: 10.625rem;
